<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Edit a client</title>
</head>
<body>

    <h1>Edit a client</h1>
    <form action="/clients/edit/{{client_id}}" method="POST">
        <input type="text" name="client_name" value="{{client["name"]}}">
        <input type="submit" value="Update">
    </form>

</body>
</html>